name: Python CI

on:
  push:
    branches: ["main"]

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: pytest

      - name: Build Artifact
        run: |
          mkdir build
          cp app.py requirements.txt build/
          tar -czf flask-app.tar.gz build/

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-artifact-flask
          path: flask-app.tar.gz

  
        run: |
          echo "Deploying to PROD environment..."
          mkdir prod-release
          tar -xzf flask-app.tar.gz -C prod-release
          ls -R prod-release  
